.timeline {
  width: 100%;
  height: 100%;
}

.timeline-container {
  width: 100%;
}

.timeline .label {
  position: absolute;
  margin-left: -100px;
  width: 95px;
  height: 100%;
  text-align: right;
  background: #2B3E50;
}

.timeline .channel-wrapper {
  position: relative;
}

.timeline .channels {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.timeline .label, .timeline .channel {
  height: 20px;
}

.timeline .channel {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, .2);
  border: 1px solid rgba(255, 255, 255, .2);
}

.timeline .channel-active .label {
  color: #ff0;
}

.timeline .channel, .timeline .time-indicator {
  margin: 1px 0 1px 100px;
}

.timeline .effect {
  position: absolute;
  height: 100%;
  background: #fff;
}

.timeline .effect-active {
  background: #ff0;
}

