.timeline .channel {
  position: relative;
  width: 100%;
  height: 20px;
  background: rgba(0, 0, 0, .2);
  border: 1px solid rgba(255, 255, 255, .2);
}

.timeline .channel-active .label {
  color: #ff0;
}

.timeline .channel {
  margin: 1px 0 1px 100px;
}

