<div id="effect-editor">
    <div ng-if="effect.startFrame == null" class="no-effect-selected">
        <h4>No effect selected</h4>
        <p>Select an effect in the timeline to view and edit its properties.</p>
    </div>

    <form style="width: 100%; padding: 10px 15px 0 15px; overflow: auto" ng-if="effect.startFrame != null">
        <div class="form-group">
            <label for="effect-editor-type">Effect Type</label>

            <ui-select id="effect-editor-type" ng-model="effect.type" ng-change="updateEffectType()">
                <ui-select-match>
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item.code as item in effectTypes | filter: {name: $select.search}">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group" ng-repeat="param in effect.params">
            <label for="editor-param-{{param.type}}">{{param.name}}</label>

            <ui-select ng-if="param.type === 'COLOR'"
                       id="effect-editor-color" ng-model="param.value[0]">
                <ui-select-match>
                    <div class="colour-picker-preview" ng-if="$select.selected.code" ng-style="{'background-color': $select.selected.code}"></div>
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item.code as item in colours | filter: {name: $select.search}">
                    <div class="colour-picker-preview" ng-style="{'background-color': item.code}"></div>
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>

            <ui-select ng-if="param.type === 'MULTI_COLOR'"
                       multiple duplicates-allowed="true" sortable="true" id="effect-editor-multi-color" ng-model="param.value">
                <ui-select-match>
                    <div class="colour-picker-preview" ng-if="$item.code" ng-style="{'background-color': $item.code}"></div>
                    {{$item.name}}
                </ui-select-match>
                <ui-select-choices repeat="item.code as item in colours | filter: {name: $select.search}">
                    <div class="colour-picker-preview" ng-style="{'background-color': item.code}"></div>
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>

            <input ng-if="param.type === 'INTEGER' || param.type === 'DECIMAL'"
                   type="text" class="form-control"
                   id="editor-param-{{param.type}}"
                   ng-model="param.value[0]"
                   placeholder="{{param.name}}"/>
        </div>

        <hr />

        <div class="form-group">
            <label for="effect-editor-easingFunction">Easing</label>

            <ui-select id="effect-editor-easingFunction" ng-model="effect.easing">
                <ui-select-match>
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item.code as item in easingTypes | filter: {name: $select.search}">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group">
            <label for="effect-editor-repetitions">Repetitions</label>

            <input type="text"
                   class="form-control"
                   id="effect-editor-repetitions"
                   ng-model="effect.repetitions"
                   placeholder="Repetitions"/>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <input type="checkbox" id="effect-editor-reverse" ng-model="effect.reverse">
                <label for="effect-editor-reverse">
                    Reverse Animation
                </label>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <label for="effect-fill-type">Fill Type</label>

            <ui-select id="effect-fill-type" ng-model="effect.fill.type" ng-change="updateFillType()">
                <ui-select-match>
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item.code as item in fillTypes | filter: {name: $select.search}">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <div class="form-group" ng-repeat="param in effect.fill.params">
            <label for="editor-fill-param-{{param.type}}">{{param.name}}</label>

            <ui-select ng-if="param.type === 'COLOR'"
                       id="effect-editor-fill-color" ng-model="param.value[0]">
                <ui-select-match>
                    <div class="colour-picker-preview" ng-if="$select.selected.code" ng-style="{'background-color': $select.selected.code}"></div>
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="item.code as item in colours | filter: {name: $select.search}">
                    <div class="colour-picker-preview" ng-style="{'background-color': item.code}"></div>
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>

            <ui-select ng-if="param.type === 'MULTI_COLOR'"
                       multiple duplicates-allowed="true" sortable="true" id="effect-editor-fill-multi-color" ng-model="param.value">
                <ui-select-match>
                    <div class="colour-picker-preview" ng-if="$item.code" ng-style="{'background-color': $item.code}"></div>
                    {{$item.name}}
                </ui-select-match>
                <ui-select-choices repeat="item.code as item in colours | filter: {name: $select.search}">
                    <div class="colour-picker-preview" ng-style="{'background-color': item.code}"></div>
                    <span ng-bind-html="item.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>

            <input ng-if="param.type === 'INTEGER' || param.type === 'DECIMAL'"
                   type="text" class="form-control"
                   id="editor-fill-param-{{param.type}}"
                   ng-model="param.value[0]"
                   placeholder="{{param.name}}"/>
        </div>

        <div class="form-group">
            <button title="Delete Selected Effect"
                    class="btn btn-danger remove-selected-effect"
                    ng-click="deleteCurrentEffect()">
                <i class="fa fa-trash"></i>Delete Effect
            </button>
        </div>
    </form>
</div>
