@import "variables";
@import "mixins";

#editor-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .container {
    flex-grow: 1;
  }
}

#body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  z-index: $z-index-body;

  #stage {
    position: relative;
    width: 100%;

    svg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  #animation-preview {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    padding-top: 50px;

    @media (min-width: 768px) {
      padding-top: 0;
    }
  }

  .stage-resize {
    position: absolute;
    margin: 0;
    top: 10px;
    right: 10px;

    @media (min-width: 768px) {
      display: none
    }
  }

  &.editor-expand #animation-preview .stage-resize .fa {
    animation: $animation-duration rotate-to-expand ease-in-out;

    @keyframes rotate-to-expand {
      from {
        transform: rotateY(180deg)
      }
      to {
        transform: rotateY(0deg)
      }
    }
  }

  &.editor-contract #animation-preview .stage-resize .fa {
    animation: $animation-duration rotate-to-contract ease-in-out;
    transform: rotateY(180deg);

    @keyframes rotate-to-contract {
      from {
        transform: rotateY(0deg)
      }
      to {
        transform: rotateY(180deg)
      }
    }
  }

  #effect-list {
    display: flex;
    width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    background: $navbar-bg-color;
  }
}