@import "variables";

$effect-editor-width: 250px;

#effect-editor {
  display: flex;
  width: $effect-editor-width;
  flex-shrink: 0;
  background: $secondary-bg-color;
  border-left: 1px solid $navbar-bg-color;
  white-space: nowrap;
  overflow-x: hidden;

  @media (min-width: 768px) {
    width: $effect-editor-width !important;
  }
}

#body {
  &.editor-expand #effect-editor {
    animation: $animation-duration slide-in ease-in-out;
  }

  &.editor-contract #effect-editor {
    animation: $animation-duration slide-out ease-in-out;
    width: 0;
  }

  @keyframes slide-in { from { width: 0 } to { width: $effect-editor-width }}
  @keyframes slide-out { from { width: $effect-editor-width } to { width: 0; }}
}