.panel-heading {
  overflow: hidden;
}

.panel-title {
  padding: 8px 0;
}

.panel-body {
  padding: 5px 15px;
}

.song-artist span {
  color: #999;
}

.song-duration {
  text-align: right;
}

.dropzone {
  border: 3px #ddd dashed;
  text-align: center;
  font-size: 20px;
  padding: 9px;
  margin: 5px -5px;
  background: #f5f5f5;


  &.dragged {
    background: #286090;
    border: 3px solid #2e6da4;
    color: #fff;
  }
}