// Theme colours:
$body-bg-color: #2b3e50;
$heading-bg-color: #485563;
$text-color: #ebebeb;
$primary-button-bg-color: #5bc0de;
$secondary-bg-color: #354758;
$navbar-bg-color: #4e5d6c;
$active-color: #337ab7;

$song-title-padding: 11px;
$timeline-font-size: 8px;
$animation-duration: .7s;

$z-index-body: 1;
$z-index-timeline: 2;
$z-index-current-effect-channel: 3;
$z-index-current-effect-bounds: 4;
$z-index-animation-effect: 5;
$z-index-current-frame-bar: 6;
$z-index-time-indicator: 7;
$z-index-animation-preview-overlay: 8;
$z-index-loader: 100;
