.panel-heading {
  overflow: hidden;
}

.panel-title {
  padding-top: 8px;
}

.panel-body {
  padding: 5px 15px;
}

.song-artist span {
  color: #999;
}

.song-duration {
  text-align: right;
}