.stage-edit-page .prop-selector {
  padding: 5px;
}

.stage-edit-page .prop-selector-item {
  height: 100%;
  padding: 10px;
  margin: 5px;
}

.stage-edit-page .stage-prop-list {
  overflow: auto;
}

.stage-edit-page .stage-prop-list-entry {
  margin: 5px;
}

.stage-edit-page .stage-canvas-container {
  display: flex;
  overflow: auto;
  align-items: center;
}

.stage-edit-page .stage-canvas {
  margin: auto;
}

.stage-edit-page .stage-canvas svg {
  border: 2px solid #000;
}
