@import 'variables';

#application {
    &, body {
        width: 100%;
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    nav {
        flex-grow: 0;
        margin-bottom: 0 !important;
    }

    #ui-view {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}
