.DateInput_input {
  padding: 8px 12px;
  border: 0;
}

.DayPickerNavigation_button__horizontal {
  border-radius: 0;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.CalendarDay_container:hover {
  color: #000;
}

.SingleDatePicker_picker__openDown {
  top: 50px;
  border-top: 1px solid #2B3E50;
}

.DateInput__openDown:before {
  top: 35px;
  border: 7px solid transparent;
  border-bottom-color: #2B3E50;
}
.DateInput__openDown:after {
  top: 36px;
  border: 7px solid transparent;
  border-bottom-color: #fff;
}
