@import '../variables';

$non-breaking-space: '\00a0';
$effect-editor-width: 250px;

#application {
    #editor-page {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .container {
            flex-grow: 1;
        }
    }

    #body {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        z-index: $z-index-body;

    }

    #effect-list {
        display: flex;
        width: 300px;
        flex-grow: 0;
        flex-shrink: 0;
        background: $navbar-bg-color;
    }

    #animation-preview-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: not-allowed;
        z-index: $z-index-animation-preview-overlay;
    }

    #effect-editor {
        display: flex;
        width: $effect-editor-width;;
        flex-shrink: 0;
        background: $secondary-bg-color;
        border-left: 1px solid $navbar-bg-color;
        overflow-x: hidden;

        @media (min-width: 768px) {
            width: $effect-editor-width !important;
            animation: none !important;
            opacity: 1 !important;
        }

        .no-effect-selected {
            padding: 10px;
            white-space: normal;

            h4 {
                padding-bottom: 5px;
                border-bottom: 1px solid $navbar-bg-color;
            }
        }

        .remove-selected-effect {
            width: 100%;
            overflow: hidden;
        }

        .remove-selected-effect .fa {
            padding-right: 10px;
        }
    }

    #body {
        #effect-editor {
            transition-duration: $animation-duration;
        }

        &.editor-contract #effect-editor {
            width: 0;
            opacity: 0;
        }
    }
}

#application {
    .colour-picker-preview {
        display: block;
        width: 20px;
        margin-right: 5px;
        border: 1px solid #333;
        float: left;
        font-size: 90%;

        &:after {
            content: $non-breaking-space;
        }
    }

    .ui-select-choices-row-inner .colour-picker-preview {
        border-color: #fff;
    }
}

#application {
    .ui-select-match-item.btn-primary {
        background-color: $navbar-bg-color;
    }
    .ui-select-container {
        .btn-default-focus {
            outline: none;
            box-shadow: none;
        }

        .ui-select-toggle {
            background: #fff !important;
            color: $body-bg-color !important;

            .caret {
                border-top-color: $body-bg-color;
            }
        }

        .ui-select-choices-row-inner {
            color: #fff;

            &:hover {
                color: $body-bg-color;
            }
        }
    }
}

#application {
    .checkbox input:focus + label::before {
        outline: none;
    }
}
