@import 'variables';

$loader-spin-overshoot: 15deg;
$loader-size: 100px;

#application {
    #loader {
        display: none;
    }

    body.loading {
        display: block;
        overflow: hidden;

        #loader {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            z-index: $z-index-loader;
            background: $body-bg-color;

            .loader-animation {
                width: $loader-size;
                height: $loader-size;
                background: url('/images/logos/logo-small.svg') no-repeat;
                margin-bottom: 10px;

                animation: animationFrames ease-in-out 2.5s;
                animation-iteration-count: infinite;
                transform-origin: center 65%;

                @keyframes animationFrames {
                    0% {
                        transform: rotate(0deg);
                    }
                    25% {
                        transform: rotate(120deg + $loader-spin-overshoot);
                    }
                    33% {
                        transform: rotate(120deg);
                    }
                    58% {
                        transform: rotate(240deg + $loader-spin-overshoot);
                    }
                    66% {
                        transform: rotate(240deg);
                    }
                    92% {
                        transform: rotate(360deg + $loader-spin-overshoot);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}
