#application {
    .logo {
        padding-top: 6px;
        padding-bottom: 10px;

        img {
            height: 18px;
        }

        .logo-large {
            display: none;
        }

        @media (min-width: 480px) {
            .logo-small {
                display: none;
            }

            .logo-large {
                display: inline-block;
            }
        }
    }
}
