<div id="effect-editor">
    <div ng-if="effect == null" class="no-effect-selected">
        <h4>No effect selected</h4>
        <p>Select an effect in the timeline to view and edit its properties.</p>
    </div>

    <form style="width: 100%; padding: 10px 15px 0 15px; overflow: auto" ng-if="effect != null">
        <div class="form-group">
            <label for="effect-editor-type">Effect Type</label>

            <select id="effect-editor-type"
                    class="form-control"
                    ng-model="effect.effectType"
                    ng-options="effectType.code as effectType.name for effectType in effectTypes">
            </select>
        </div>

        <div class="form-group" ng-repeat="param in effect.params">
            <label for="editor-param-{{param.paramCode}}">{{getParamName(effect.effectType, param.paramCode)}}</label>

            <input type="text"
                   class="form-control"
                   id="editor-param-{{param.paramCode}}"
                   ng-model="param.value"
                   placeholder="{{getParamName(effect.effectType, param.paramCode)}}"/>
        </div>

        <div class="form-group">
            <button title="Delete Selected Effect"
                    class="btn btn-danger remove-selected-effect"
                    ng-click="deleteCurrentEffect()">
                <i class="fa fa-trash"></i>Delete Effect
            </button>
        </div>
    </form>
</div>