<div class="col-md-6 song-entry">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title pull-left song-id" ng-bind-html="song.name | trustedHtml"></h3>
            <div class="pull-right">
                <a class="btn btn-danger" role="button" ng-click="remove()">Remove</a>
                <a class="btn btn-info" role="button" ng-click="edit()" ui-sref="editor({id: song.id})">Edit</a>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <h5 class="song-artist">By <span class="song-artist" ng-bind-html="song.artist | trustedHtml"></span></h5>
                    <h5 class="song-album" ng-bind-html="song.album | trustedHtml"></h5>
                </div>
                <div class="col-md-4 song-duration">
                    <h5 ng-bind="song.durationSeconds | time"></h5>
                </div>
            </div>
        </div>
    </div>
</div>