#application {
    // Toastr CSS overrides to use FontAwesome icons instead of images.
    #toast-container {

        > .toast {
            background-image: none !important;
            border-radius: 0 !important;
            box-shadow: none !important;
            text-shadow: none !important;

            .toast-close-button {
                text-shadow: none !important;
            }

            &:hover {
                opacity: .9 !important;
            }
        }

        > .toast:before {
            position: fixed;
            font-family: FontAwesome;
            font-size: 24px;
            line-height: 18px;
            float: left;
            color: #FFF;
            padding-right: 0.5em;
            margin: auto 0.5em auto -1.5em;
        }

        > .toast-warning:before {
            content: "\f06a";
        }


        > .toast-error:before {
            content: "\f057";
        }


        > .toast-info:before {
            content: "\f05a";
        }


        > .toast-success:before {
            content: "\f058";
        }
    }
}
