@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: "font", sans-serif;
	--font-mono: "monospace", monospace;
}

html, body {
  /* Disable backward navigation when swiping right with two fingers on a Mac. */
  overscroll-behavior-x: none;
}
