<div id="editor-page" ng-controller="EditorController as editor" ng-class="{loading: editor.loading}">

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">

            <div class="btn-group">
                <a ui-sref="selector" title="Back to Song Selection" class="btn btn-default navbar-btn"><i class="fa fa-arrow-left"></i></a>
            </div>

            <div class="pull-right btn-group">
                <a title="Add Effect"
                   class="btn btn-default navbar-btn"
                   ng-click="editor.addAnimationEffect()">
                    <i class="fa fa-magic"></i>
                </a>

                <a title="Save"
                   class="btn btn-default navbar-btn"
                   ng-click="editor.saveAnimationData()">
                    <i class="fa fa-save"></i>
                </a>
            </div>
        </div>
    </nav>

    <div class="loader-container">
        <div class="loader sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child"></div>
        </div>
    </div>

    <div id="body" ng-class="{'editor-expand': editor.stageExpanded, 'editor-contract': !editor.stageExpanded}">
        <animation-preview stage-expanded="editor.stageExpanded">
        </animation-preview>
        <effect-editor effect="editor.currentEffect"
                       effect-types="editor.animationEffectTypes"
                       delete-current-effect="editor.deleteCurrentEffect">
        </effect-editor>
    </div>

    <div id="timeline" class="{{editor.currentChannel.name | cssClass}}">
        <div class="timeline-labels">
            <div class="timeline-label {{channel.name | cssClass}}"
                 ng-repeat="channel in editor.animationData.channels | orderBy:'displayOrder'"
                 ng-class="{selected: editor.getCurrentChannel() === channel}"
                 ng-click="editor.setCurrentChannel(channel)">
                {{channel.name}}
            </div>

            <div class="timeline-label music"><i class="fa fa-music"></i></div>
            <div class="timeline-label time">Time</div>
        </div>

        <div class="channels">
            <effect-channel ng-repeat="channel in editor.animationData.channels | orderBy:'displayOrder'"
                            channel="channel" duration="editor.currentSong.durationSeconds"
                            ng-class="{selected: editor.isCurrentChannel(channel)}"
                            ng-click="editor.setCurrentEffect(channel, null)"
                            get-current-effect="editor.getCurrentEffect"
                            set-current-effect="editor.setCurrentEffect">
            </effect-channel>

            <waveform id="waveform"
                      loading="editor.loading"
                      duration="editor.currentSong.durationSeconds"
                      current-frame="editor.currentFrame"
                      mp3-url="editor.mp3Url">
            </waveform>

            <time-indicator duration="editor.currentSong.durationSeconds"></time-indicator>
            <current-frame-bar current-frame="editor.currentFrame"></current-frame-bar>
        </div>
    </div>
</div>